<div class="grid__col grid__col--3-of-3">
  <article role="article" itemscope itemtype="http://schema.org/Article">

      <a href="{{{ url }}}" rel="bookmark">
        <h2 class="c-heading-section u-text-dark-grey" itemprop="headline">
          {{title}}
        </h2>
      </a>

      <p>{{excerpt words="45"}} <a class="u-text-mid-grey" href="{{url}}">...</a></p>

      {{> post-meta}}

      <div class="o-sp--unit"></div>
      <div class="c-divider"></div>
  </article>
</div>
