<footer id="contact" class="grey darken-3 page-footer">
  <div class="container">
    <div class="row">

      <div class="col s12 m3 offset-m2 l2 offset-l3 hide-on-small-only">
        <h5 class="yellow-text">About</h5>
        <a href="/about#vision"><p class="white-text">VISION</p></a>
        <a href="/about#values"><p class="white-text">VALUES</p></a>
        <a href="/team"><p class="white-text">TEAM</p></a>
      </div>
      <div class="s12 hide-on-med-and-up main-container container scrollspy" id="footer-list">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <h5 class="collapsible-header yellow-text">About <i class="fa fa-angle-down"></i></h5>
            <div class="collapsible-body">
              <ul>
                <a href="/about#vision"><li class="white-text">VISION</li></a>
                <a href="/about#values"><li class="white-text">VALUES</li></a>
                <a href="/team"><li class="white-text">TEAM</li></a>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <hr class="divider hide-on-med-and-up">

      <div class="col s12 m3 l2 hide-on-small-only">
        <h5 class="teal-text">Repositive</h5>
        <a href="/product"><p class="white-text">PRODUCT</p></a>
        <a href="http://blog.repositive.io"><p class="white-text">BLOG</p></a>
        <a href="/jobs"><p class="white-text">JOBS</p></a>
        <a href="/faq"><p class="white-text">FAQ</p></a>
        <a href="/press"><p class="white-text">PRESS</p></a>
      </div>
      <div class="s12 hide-on-med-and-up main-container container scrollspy" id="footer-list">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <h5 class="collapsible-header teal-text">Repositive <i class="fa fa-angle-down"></i></h5>
            <div class="collapsible-body">
              <ul>
                <a href="/product"><li class="white-text">PRODUCT</li></a>
                <a href="http://blog.repositive.io"><li class="white-text">BLOG</li></a>
                <a href="/jobs"><li class="white-text">JOBS</li></a>
                <a href="/faq"><li class="white-text">FAQ</li></a>
                <a href="/press"><li class="white-text">PRESS</li></a>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <hr class="divider hide-on-med-and-up">

      <div class="col s12 m3 l3 hide-on-small-only">
        <h5 class="red-text">Contact</h5>
        <a href="mailto:info@repositive.io" target="_top" class="white-text">info@repositive.io</a>
        <p class="white-text">+44 (0) 1223 781 455</p>
        <br>
        <a href="https://www.google.co.uk/maps/place/Future+Business+Centre+Cambridge/@52.234739,0.129423,17z/data=!3m1!4b1!4m2!3m1!1s0x47d8711d9e5ce433:0x98170f289452196e" target="_blank" class="white-text">
          <p class="white-text">Future Business Centre</p>
          <p class="white-text">King's Hedges Road, Cambridge</p>
          <p class="white-text">CB4 2HY</p>
        </a>
      </div>
      <div class="s12 hide-on-med-and-up main-container container scrollspy" id="footer-list">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <h5 class="collapsible-header red-text">Contact <i class="fa fa-angle-down"></i></h5>
            <div class="collapsible-body">
              <ul>
                <a href="mailto:info@repositive.io" target="_top"><li class="white-text">info@repositive.io</li></a>
                <li class="white-text">+44 (0) 1223 781 455</li>
                <br>
                <a href="https://www.google.co.uk/maps/place/Future+Business+Centre+Cambridge/@52.234739,0.129423,17z/data=!3m1!4b1!4m2!3m1!1s0x47d8711d9e5ce433:0x98170f289452196e" target="_blank" class="white-text">
                  <li class="white-text">Future Business Centre</li>
                  <li class="white-text">King's Hedges Road, Cambridge</li>
                  <li class="white-text">CB4 2HY</li>
                </a>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="divider"></div>

    </div>


    <div class="row center-align">
      <h5 class="white-text">Stay Connected</h5>
      <ul class="list-inline">
        <li>
          <a href="http://twitter.com/repositiveio" target="_blank">
            <span class="social-media-icon"><img src="assets/images/icons/twitter.png"></span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/repositive" target="_blank">
            <span class="social-media-icon"><img src="assets/images/icons/linkedin.png"></span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/repositive.io/" target="_blank">
            <span class="social-media-icon"><img src="assets/images/icons/facebook-white.png"></span>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/108134180119859663187/posts" target="_blank">
            <span class="social-media-icon"><img src="assets/images/icons/google-white.png"></span>
          </a>
        </li>
        <li>
          <a href="mailto:info@repositive.io">
            <span class="social-media-icon">
              <img src="assets/images/icons/email.png">
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
