<footer id="contact" class="grey darken-3 page-footer">
  <div class="container">
    <div class="row footer-links">

      <div class="col s12 m3 offset-m1 l2 offset-l3 hide-on-small-only">
        <h5 class="yellow-text">About</h5>
        <ul>
          <li><a href="/about#vision" class="white-text">VISION</a></li>
          <li><a href="/about#values" class="white-text">VALUES</a></li>
          <li><a href="/team" class="white-text">TEAM</a><li>
        </ul>
      </div>
      <div class="s12 hide-on-med-and-up main-container container scrollspy" id="footer-list">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <h5 class="collapsible-header yellow-text">About <i class="fa fa-angle-down"></i></h5>
            <div class="collapsible-body">
              <ul>
                <a href="/about#vision"><li class="white-text">VISION</li></a>
                <a href="/about#values"><li class="white-text">VALUES</li></a>
                <a href="/team"><li class="white-text">TEAM</li></a>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <hr class="divider hide-on-med-and-up">

      <div class="col s12 m3 l2 hide-on-small-only">
        <h5 class="teal-text">Repositive</h5>
        <ul>
          <li><a href="/product" class="white-text">PRODUCT</a></li>
          <li><a href="http://blog.repositive.io" class="white-text">BLOG</a></li>
          <li><a href="/jobs" class="white-text">JOBS</a></li>
          <li><a href="/faq" class="white-text">FAQ</a></li>
          <li><a href="/press" class="white-text">PRESS</a></li>
        </ul>
      </div>
      <div class="s12 hide-on-med-and-up main-container container scrollspy" id="footer-list">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <h5 class="collapsible-header teal-text">Repositive <i class="fa fa-angle-down"></i></h5>
            <div class="collapsible-body">
              <ul>
                <a href="/product"><li class="white-text">PRODUCT</li></a>
                <a href="http://blog.repositive.io"><li class="white-text">BLOG</li></a>
                <a href="/jobs"><li class="white-text">JOBS</li></a>
                <a href="/faq"><li class="white-text">FAQ</li></a>
                <a href="/press"><li class="white-text">PRESS</li></a>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <hr class="divider hide-on-med-and-up">

      <div class="col s12 m4 l4 hide-on-small-only">
        <h5 class="red-text">Contact</h5>
        <ul>
          <li class="thin white-text">+44 (0) 1223 781 455</li>
          <li><a href="mailto:info@repositive.io" target="_top" class="white-text">info@repositive.io</a></li>
          <br>
          <li><a href="https://www.google.co.uk/maps/place/Future+Business+Centre+Cambridge/@52.234739,0.129423,17z/data=!3m1!4b1!4m2!3m1!1s0x47d8711d9e5ce433:0x98170f289452196e" target="_blank" class="white-text">
              Future Business Centre,
              King's Hedges Road,
              Cambridge,
              CB4 2HY
          </a></li>
        </ul>
      </div>
      <div class="s12 hide-on-med-and-up main-container container scrollspy" id="footer-list">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <h5 class="collapsible-header red-text">Contact <i class="fa fa-angle-down"></i></h5>
            <div class="collapsible-body">
              <ul>
                <li class="thin white-text">+44 (0) 1223 781 455</li>
                <li><a href="mailto:info@repositive.io" target="_top" class="white-text">info@repositive.io</a></li>
                  <br>
                <li class="white-text">
                  <a href="https://www.google.co.uk/maps/place/Future+Business+Centre+Cambridge/@52.234739,0.129423,17z/data=!3m1!4b1!4m2!3m1!1s0x47d8711d9e5ce433:0x98170f289452196e" target="_blank" class="white-text">
                    Future Business Centre,
                    King's Hedges Road,
                    Cambridge,
                    CB4 2HY
                  </a>
                </li>
              </a>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="divider"></div>
    </div>


    <div class="row center-align">
      <h5 class="white-text">Stay Connected</h5>
      <ul class="list-inline">
        <li>
          <a href="http://twitter.com/repositiveio" target="_blank">
            <span class="social-media-icon"><img src="assets/images/icons/twitter.png"></span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/repositive" target="_blank">
            <span class="social-media-icon"><img src="assets/images/icons/linkedin.png"></span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/repositive.io/" target="_blank">
            <span class="social-media-icon"><img src="assets/images/icons/facebook-white.png"></span>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/108134180119859663187/posts" target="_blank">
            <span class="social-media-icon"><img src="assets/images/icons/google-white.png"></span>
          </a>
        </li>
        <li>
          <a href="mailto:info@repositive.io">
            <span class="social-media-icon">
              <img src="assets/images/icons/email.png">
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
