<footer id="contact" class="grey darken-3 page-footer">
    <div class="container center-align">
        <h2 class="white-text">CONTACT</h2>
        <hr class="teal">
        <div class="row">
            <a href="mailto:info@repositive.io" target="_top" class="white-text">info@repositive.io</a>
            <p class="white-text">+44 (0) 1223 781 455</p>
        </div>
        <div class="row">
            <a href="https://www.google.co.uk/maps/place/Future+Business+Centre+Cambridge/@52.234739,0.129423,17z/data=!3m1!4b1!4m2!3m1!1s0x47d8711d9e5ce433:0x98170f289452196e" target="_blank" class="white-text">
                <p class="white-text">Future Business Centre</p>
                <p class="white-text">King's Hedges Road, Cambridge</p>
                <p class="white-text">CB4 2HY</p>
            </a>
        </div>
        <div class="row">
        <ul class="list-inline">
            <li>
              <a href="https://twitter.com/repositiveio" target="_blank">
                <i class="social-media-icon fa fa-twitter fa-2x"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/repositive" target="_blank">
                <i class="social-media-icon fa fa-linkedin fa-2x"></i>
              </a>
            </li>
        </ul>
        </div>
    </div>
</footer>
