<div id="menu" class="nav__menu nav__menu-mobile">
  <ul class="o-list-flush-left">
    <li><a href="https://repositive.io/product"   class="nav__menu-item nav__menu-mobile-item vert-pad u-ta--center" onclick="_gaq.push(['_trackEvent', 'navbar', 'product link', 'click']);">Product</a></li>
    <li><a href="{{ @blog.url }}"                 class="nav__menu-item nav__menu-mobile-item vert-pad u-ta--center" onclick="_gaq.push(['_trackEvent', 'navbar', 'blog link', 'click']);">Blog</a></li>
    <li><a href="https://repositive.io/about"     class="nav__menu-item nav__menu-mobile-item border-bottom vert-pad u-ta--center" onclick="_gaq.push(['_trackEvent', 'navbar', 'about link', 'click']);">About</a></li>
    <li><a href="https://discover.repositive.io/users/login"  class="nav__menu-item nav__menu-mobile-item vert-pad u-ta--center u-text-teal">Login</a></li>
    <li><a href="https://discover.repositive.io/users/signup" class="nav__menu-item nav__menu-mobile-item c-btn c-btn--primary u-text-white" onclick="_gaq.push(['_trackEvent', 'navbar', 'try it button navbar', 'click']);">Create Account</a></li>
  </ul>
</div>
