<div class="navbar-fixed">
  <nav class="grey lighten-4">
    <div class="nav-wrapper">

      {{#if @blog.logo}}
        <a href="http://repositive.io">
          <div class="nav-logo">
            <img class="responsive-img" src="{{@blog.logo}}" alt="Repositive DNA logo">
          </div>
        </a>
      {{else}}
        <a href="http://repositive.io">
          <div class="nav-logo">
            {{@blog.title}}
          </div>
        </a>
      {{/if}}

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

      <ul class="right hide-on-small">
        <li><a href="http://repositive.io/product"><span>PRODUCT</span></a></li>
        <li><a class="active" href="/"><span>BLOG</span></a></li>
        <li><a href="http://repositive.io/about"><span>ABOUT</span></a></li>
        <li><a href="http://discover.repositive.io/users/login" onclick="_gaq.push(['_trackEvent', 'navbar', 'login link', 'click']);"><span>LOGIN</span></a></li>
        <li class="hide-on-small-only nav-button"><a class="waves-effect waves-light teal btn white-text z-depth-0" href="http://discover.repositive.io/signup-form">TRY IT</a></li>
      </ul>

      <ul class="side-nav center" id="mobile-demo">
        <li><a href="http://repositive.io/product"><span>PRODUCT</span></a></li>
        <li><a class="active" href="/"><span>BLOG</span></a></li>
        <li><a href="http://repositive.io/about"><span>ABOUT</span></a></li>
        <li><a href="http://discover.repositive.io/users/login" onclick="_gaq.push(['_trackEvent', 'navbar', 'login link', 'click']);"><span>LOGIN</span></a></li>
        <li class="nav-button"><a class="waves-effect waves-light teal btn white-text z-depth-0" href="http://discover.repositive.io/signup-form" target="_blank" onclick="_gaq.push(['_trackEvent', 'navbar', 'beta button', 'click']);">TRY IT</a></li>
      </ul>

    </div>
  </nav>
</div>
