<div class="navbar-fixed">
  <nav class="grey lighten-4">
    <div class="nav-wrapper">

      {{#if @blog.logo}}
        <a href="/">
          <div class="nav-logo">
            <img class="responsive-img" src="{{@blog.logo}}" alt="Repositive DNA logo">
          </div>
        </a>
      {{else}}
        <a href="/">
          <div class="nav-logo">
            {{@blog.title}}
          </div>
        </a>
      {{/if}}

      <ul class="right hide-on-small">
        <li><a href="http://repositive.io"><span>HOME</span></a><li>
        <li><a href="http://repositive.io/about"><span>ABOUT</span></a></li>
        <li><a href="http://repositive.io/team"><span>TEAM</span></a></li>
        <li><a class="active" href="/"><span>BLOG</span></a></li>
        <li><a href="http://repositive.io/faq"><span>FAQ</span></a></li>
        <li><a href="http://repositive.io/press"><span>PRESS</span></a></li>
        <li class="hide-on-small-only nav-button"><a class="waves-effect waves-light teal btn white-text z-depth-0" href="http://discover.repositive.io/verify" target="_blank">BETA SIGN UP</a></li>
      </ul>

    </div>
  </nav>
</div>
