<div class="navbar-fixed">
  <nav class="grey lighten-4">
    <div class="nav-wrapper">

      <a href="/">
        <div class="nav-logo">
          <img class="responsive-img" src="{{@blog.logo}}" alt="Repositive DNA logo">
        </div>
      </a>

      <ul class="right hide-on-small">
        <li>
          <a href="http://repositive.io" target="_blank"><span>HOME</span></a>
        </li>
        <li>
          <a href="http://repositive.io/about" target="_blank"><span>ABOUT</span></a>
        </li>
        <li>
          <a href="http://repositive.io/team" target="_blank"><span>TEAM</span></a>
        </li>
        <li>
          <a class="active" href="/"><span>BLOG</span></a>
        </li>
        <li>
          <a href="http://repositive.io/faq" target="_blank"><span>FAQ</span></a>
        </li>
        <li>
          <a href="http://repositive.io/press" target="_blank"><span>PRESS</span></a>
        </li>
        <li class="hide-on-small-only nav-button">
          <a class="waves-effect waves-light teal btn white-text z-depth-0" href="http://discover.repositive.io/verify" target="_blank">BETA SIGN UP</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
