<!--=======================================
* needs to have fixed position on scroll-up
============================================-->

<nav class="nav">

  <a href="https://repositive.io" class="nav__logo">
    <img src="{{asset 'images/logos/repositive/repositive-full.svg'}}" alt="Repositive DNA logo">
  </a>

  <ul class="nav__menu o-list-inline o-list-flush-left u-hide-on-sm-md">
    <li class="o-list-inline__item"><a class="nav__menu-item" href="https://repositive.io/product">Product</a></li>
    <li class="o-list-inline__item"><a class="nav__menu-item active" href="{{ @blog.url }}" onclick="_gaq.push(['_trackEvent', 'navbar', 'blog link', 'click']);">Blog</a></li>
    <li class="o-list-inline__item"><a class="nav__menu-item " href="https://repositive.io/about/"  onclick="_gaq.push(['_trackEvent', 'navbar', 'about link', 'click']);">About</a></li>
    <li class="o-list-inline__item"><a class="nav__menu-item u-text-teal border-left" href="https://discover.repositive.io/users/login">Login</a></li>
    <li class="o-list-inline__item"><a class="nav__menu-item c-btn c-btn--primary u-text-white" href="https://discover.repositive.io/users/signup" onclick="_gaq.push(['_trackEvent', 'navbar', 'try it button navbar', 'click']);">Create Account</a></li>
  </ul>

  <div class="nav__mobile-toggle-button u-ta--center u-hide-on-lg">
    <span></span>
    <span></span>
    <span></span>
  </div>

</nav>

<!--
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-small">
        <li><a href="http://repositive.io/product"><span>PRODUCT</span></a></li>
        <li><a class="active" href="/"><span>BLOG</span></a></li>
        <li><a href="http://repositive.io/about"><span>ABOUT</span></a></li>
        <li class="left-border"><a href="http://discover.repositive.io/users/login" onclick="_gaq.push(['_trackEvent', 'navbar', 'login link', 'click']);"><span class="teal-text">LOGIN</span></a></li>
        <li class="hide-on-small-only nav-button"><a class="waves-effect waves-light teal btn white-text z-depth-0" target="_blank" href="http://discover.repositive.io/users/signup">SIGN UP FREE</a></li>
      </ul>

      <ul class="side-nav center" id="mobile-demo">
        <li><a href="http://repositive.io/product"><span>PRODUCT</span></a></li>
        <li><a class="active" href="/"><span>BLOG</span></a></li>
        <li><a href="http://repositive.io/about"><span>ABOUT</span></a></li>
        <li><a href="http://discover.repositive.io/users/login" onclick="_gaq.push(['_trackEvent', 'navbar', 'login link', 'click']);"><span class="teal-text">LOGIN</span></a></li>
        <li class="nav-button"><a class="waves-effect waves-light teal btn white-text z-depth-0" target="_blank" href="http://discover.repositive.io/users/signup" target="_blank" onclick="_gaq.push(['_trackEvent', 'navbar', 'beta button', 'click']);">SIGN UP FREE</a></li>
      </ul>

    </div>
  </nav>
</div> -->
