<nav class="category-menu">
  <div class="post-meta">
    <ul>
      <li>
        <a class="unfocus-grey-text" href="/tag/press-release">
          <i class="fa fa-tag"></i><span>Press Releases</span>
        </a>
      </li>
      <li>
        <a class="unfocus-grey-text" href="/tag/events">
          <i class="fa fa-tag"></i><span>Events</span>
        </a>
      </li>
      <li>
        <a class="unfocus-grey-text" href="/tag/data-access">
          <i class="fa fa-tag"></i><span>Data Access</span>
        </a>
      </li>
      <li>
        <a class="unfocus-grey-text" href="/tag/data-sharing">
          <i class="fa fa-tag"></i><span>Data Sharing</span>
        </a>
      </li>
      <li>
        <a class="unfocus-grey-text" href="/tag/repository">
          <i class="fa fa-tag"></i><span>Repositories</span>
        </a>
      </li>
      <li>
        <a class="unfocus-grey-text" href="/tag/development">
          <i class="fa fa-tag"></i><span>Development</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
