<!DOCTYPE html>
<html>

  {{> head }}

  <body>

    {{> mobile-menu}}

    <!-- SlideoutJS Panel -->
    <div id="panel">

      {{>nav}}
      {{{ body }}}
      {{>footer}}

    </div>

    {{> scripts}}
    {{ ghost_foot }}

  </body>
</html>
