{{!< default}}

{{> header}}

<div class="grid__wrap">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">

      {{> tag-nav }}
      {{> divider }}

      {{#foreach posts}}
        {{> article-excerpt }}
      {{/foreach}}

      {{#if pagination}}
        {{> pagination-footer}}
      {{/if}}

    </div>
  </div>
</div>
