{{!< default}}

<div class="grid__wrap">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">

      <header class="u-ta--center">
        <h2 class="c-heading-section">{{ tag.name }}</h2>
        {{#if tag.description}}
          <h4 class="c-heading-sub u-text-weight-thin">{{tag.description}}</h4>
        {{else}}
          <h4 class="c-heading-sub u-text-weight-thin">A {{pagination.total}}-post collection</h4>
        {{/if}}
        <div class="o-sp--unit"></div>
      </header>

      {{> divider}}

      {{#foreach posts}}
        {{> article-excerpt}}
      {{/foreach}}

      {{#if pagination}}
        {{> pagination-footer}}
      {{/if}}

    </div>
  </div>
</div>
