@charset 'UTF-8';
@import 'bower_components/materialize/sass/materialize';

// imported from static
@import 'styles/colors';
@import 'styles/base';
@import 'styles/typography';
@import 'styles/navbar';
@import 'styles/responsive';
@import 'styles/footer';
@import 'styles/images';
@import 'styles/author';
@import 'styles/post';
@import 'styles/prism';

//to use: @include border-radius(2px)
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
// mixin for styling a placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {@content};
  &::-moz-placeholder {@content};
  &::-moz-placeholder {@content};
  &:-ms-input-placeholder {@content};
}

.liz-header {
  position: relative;
  display: flex;
  width: 100%;
  height: 20em;
  line-height: 20em;
  align-items: center;
  background: #fff no-repeat center center;
  background-size: cover;
  border-bottom: 1px solid #eeeeee;
}

.pagination-liz {
  text-align: center;
  nav.pagination {
    background-color: #fff;
    color: $primary-text;
    box-shadow: none;

  }
}

.article-liz {
  padding-bottom: 1em;
}
