/* ==========================================================================
   BLOG BANNER
   ========================================================================== */

.c-header-image {
  height: calc(10 * $global-spacing-unit);
  width: 100%;
  background: $color-very-light-grey no-repeat center center;
  background-size: cover;
  border-bottom: 1px solid $color-very-light-grey;
  @extend .u-ta--center;
}
