/* ==========================================================================
   #SOCIAL ICONS
   ========================================================================== */

.c-social-media-icon {
  width: 2rem;
  height: 2rem;
  padding: 5px;
  display: inline-block;
}
