/* ==========================================================================
   POST META STYLING
   ========================================================================== */

.c-meta {
  time,
  i,
  a,
  span {
    @extend .u-text-light-grey;
  }

  img,
  i {
    @extend .o-sp-right--tiny;
  }
}

.c-meta__item:hover a {
  @extend .u-text-mid-grey;
}

.c-meta__dividers {
  .c-meta__item:after {
    content: '|';
    padding: 0 $global-spacing-unit-tiny;
  }
  .c-meta__item:last-of-type:after {
    content: '';
  }
}

.c-meta__tag-nav .c-meta__item {
  padding: $global-spacing-unit-tiny;
}
