/* ==========================================================================
   TYPE SETTING
   ========================================================================== */

/*
  * Component based approach to type-setting
  * All headings previously reset in _elements.base
  * > see article: http://csswizardry.com/2016/02/managing-typography-on-large-apps/
*/

.c-heading-banner {
  font-size: 2.5rem;
}

.c-heading-banner--padded {
  padding: $global-spacing-unit-huge 0;
}

@media (max-width: $breakpoint-medium) {
  .c-heading-banner {
    font-size: 1.75rem;
  }
}
@media (max-width: $breakpoint-small) {
  .c-heading-banner {
    font-size: 1.4rem;
  }
}

.c-heading-section,
.c-heading-section--rp {
  font-size: 2.5rem;
}

@media (max-width: $breakpoint-small) {
  .c-heading-section--rp {
    font-size: 1.75rem;
  }
}

.c-heading-sub {
  font-size: 1.125rem;
  margin-top: -24px;
}

.c-heading-tile-sub {
  font-size: 1.25rem;
}

.c-body-large {
  font-size: 1.25rem;
}

.c-body-small {
  font-size: 0.85rem;
}

.c-text-underline {
  position: relative;
  margin-bottom: $global-spacing-unit-large;

  &::after {
    content: '';
    width: 8rem;
    height: 4px;
    border-radius: 200px;
    background-color: $color-mid-grey;
    position: absolute;
    left: calc(50% - 4rem);
    bottom: -10px;
  }
  &--red::after {
    background-color: $color-primary-red;
  }
  &--yellow::after {
    background-color: $color-primary-yellow;
  }
  &--teal::after {
    background-color: $color-primary-teal;
  }
}
