.footer {
  padding: 1.5rem 0;
  margin-top: 1.5rem;

  h5 {
    font-family: $head-font-stack;
    text-transform: uppercase;
  }

  .divider {
    width: 100%;
    background-color: $sub-text;
    margin: 1.5rem 0;
  }

  .social-media-icon {
    width: 2rem;
    height: 2rem;
    padding: 5px;
    display: inline-block;

    img {
      width: 100%;
    }

    i {
      color: $color-white;
      vertical-align: text-top;
    }
  }
}

.footer__links {
  width: 170px;

  a:hover {
    font-weight: 300;
  }
}
