//css for headroom
.headroom {
  transition: transform 100ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}


//All navbar related elements go here.
nav {
  height: 50px;
  line-height: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: visible;

  a {
    color: $color-grey !important;
    font-family: $head-font-stack;
    font-size: 1rem;
    font-weight: bold;
  }

  .dropdown-button {
    padding: 0;
  }

  .dropdown-content li {
    line-height: .8rem;
  }

  a.button-collapse {
    position: absolute;
    top: 0;

    i {
      font-size: 2rem;
      line-height: 50px;
    }
  }

  .active {
    span {
      width: 3px;
      border: 0;
      border-bottom: 2px solid $primary-red;
      line-height: 1.5;
    }
  }

  .side-nav li {
    border-bottom: 1px solid $border-grey;
    background-color: $color-white;
  }

  .nav-wrapper {
    i {
      height: 50px;
      font-size: 1.3rem;
      padding: 0 .3em;
      line-height: 50px;
      float: left;
      color: $sub-text;
    }
  }
}

.navbar-fixed {
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-logo {
  width: 125px;
  padding-top: .3rem;
  position: absolute;
}

.nav-button {
  margin-left: 1rem;

  a {
    margin-bottom: 0;
  }

  &:hover {
    background-color: $navbar-grey;
  }
}

.left-border {
  border-left: 1px solid $border-grey;
}

// Navigation menu for tag categories
.category-menu {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: none;
  height: auto;

  a:hover {
    text-decoration: none !important;
    border-radius: 2px;
  }
}

// So that the navbar works on the majority of mobile screens
@media only screen and (max-width : 600px) {
  nav .right a {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-size: .7rem;
  }

  .nav-logo {
    margin: auto;
    position: relative;
  }

  nav {
    padding-left: 0;
    padding-right: 0;
  }
}

//So that the navbar works on the majority of small tablets/oversized phones
@media only screen and (max-width : 770px) {
  nav .right a {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-size: .9rem;
  }

  .brand-name {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  nav .nav-wrapper .register {
    right: 22%;
  }

  .hide-on-small {
    display: none;
  }

  .nav-logo {
    margin: auto;
    position: relative;
  }

  .nav-button {
    margin-left: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width : 1050px) {
  span.tablet-hide {
    display: none;
  }
  nav a.button-collapse {
    display: none;
  }
}

@media only screen and (max-width :601px){
  nav .dp-wrapper {
    margin-top: .7rem;
  }
}

@media only screen and (min-width: 600px) and (max-width :916px){
  .nav-input {
    left: 19%;
  }
}
