@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,200,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

$head-font-stack: 'Varela Round', 'Roboto', sans-serif;
$body-font-stack: 'Roboto', sans-serif;

html {
  font-size: 16px;
  font-family: $body-font-stack;
  color: $primary-text;
}

h1 {
	font-size: 3rem;
	font-weight: 500;
}

h2 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 0;
	line-height: 1.5;
}

h3 {
	font-size: 1.8rem;
	font-weight: 400;
  margin-top: .2rem;
  margin-bottom: .2rem;
  line-height: 1;
}

h4 {
	font-size: 1.5rem;
	color: $sub-text;
	font-weight: 400;
	margin-top: 0;
}

h5 {
	font-size: 1.2rem;
	color: $sub-text;
	font-weight: 400;
	margin-top: 0;
}

h6 {
  color: $sub-text;
}

p {
	font-size: 1rem;
	color: $primary-text;
}

.justify {
    text-align: justify !important;
}

// Used for press
.small-text {
  font-size: .82rem !important;
}

.helper-text {
	color: $sub-text;
	font-style: italic;
}

.sub-head {
  width: 70%;
  display: block;
  margin: 0 auto;
	color: $sub-text;
	font-size: 1.2rem;
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
	font-style: italic;
}

footer p,
footer a {
  margin: 0;
  font-weight: 200;
}

.faq h2 {
  line-height: 1.2em;
}

.intro-text {
  font-size: 2.2em;
  font-weight: 400;
}
