.icon {
  width: 100px;
  height: 100px;
}

.team-img {
  max-width: 10rem;
}

.press-img {
  max-width: 80%;
}

.social-media-icon {
  width: 2.8rem;
}

.share-img {
  width: 27px;
  height: 27px;
}

.home-intro {
  margin: 2rem 0;
  position: relative;

  .home-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 30rem;
    padding-bottom: 3.5rem;
  }

  h5 {
    width: 250px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.loop-image-ani {
  height: 15rem;
  position: relative;

  img {
    height: 13rem;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 20s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 20s;
  }

  h6 {
    height: auto;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 20s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 20s;
  }

  .loop2 {
    -webkit-animation-delay: -13s;
  }

  .loop3 {
    -webkit-animation-delay: -7s;
  }
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  35% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  35% {opacity: 0;}
  100% {opacity: 0;}
}

// Width 100% for supporter logo images
.supporters {
  img {
    width: 100%;
  }
}

@media only screen and (max-width : 400px) {
  .intro-img {
    display: none;
  }
}
