@charset "UTF-8";

@import "bower_components/materialize/sass/materialize";

html {
  background-color: #fff;
}

// imported from static
@import "styles/_colours";
@import "styles/_navbar";
@import "styles/_typography";
@import "styles/_images";
// (just in case) @import "styles/_ghost";

/* CUSTOM MIXINS */

//to use: @include border-radius(2px);
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
/*mixin for styling a placeholder*/
@mixin placeholder {
  &::-webkit-input-placeholder {@content};
  &:-moz-placeholder           {@content};
  &::-moz-placeholder          {@content};
  &:-ms-input-placeholder      {@content};
}
/* END CUSTOM MIXINS */

section {
  margin: 1.5em 0;
}

.liz-wrapper {
  width:100%;
  max-width: 960px;
  margin: 0 auto;

}

.post-content {
  img {
      border: 0;
      max-width: 100%;
  }
}

.liz-header {
  position: relative;
  display: flex;
  width: 100%;
  height: 20em;
  line-height: 20em;
  margin: 0 0 5rem 0;
  align-items: center;
  background: #fff no-repeat center center;
  background-size: cover;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  .vertical {
    margin: 0;
  }
}
.post-image {
  height: 30em;
}

.pagination-liz {
  text-align: center;
  nav.pagination {
    background-color: #fff;
    color: $primary-text;
    box-shadow: none;

  }
}

.article-liz {
  padding-bottom: 1em;
}

.post-title {
  a {
    color: $primary-text;
  }
  a:hover {
    text-decoration: underline;
  }
}

.share {
  text-align: center;
  a {
    display: block-inline;
    padding: 0 0.5em;
  }
  .fa-twitter {
    color: #55acee;
    &:hover {
      color: #55acee * 1.2;
    }
  }
  .fa-facebook-square {
    color: #3b5998;
    &:hover {
      color: #8b9dc3;
    }
  }
  .fa-google-plus {
    color: #db4437;
    &:hover {
      color: #db4437 * 1.4;
    }
  }
}

.post-meta {
  color: $unfocus-grey !important;
  time {
    font-family: $body-font-stack;
  }
  a {
    color: $unfocus-grey !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

.disqus {
  h4 {
    text-align: center;
  }
}

.author {
  h4 {
    text-align: center;
  }
}
.author-thumb {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 9px;
    border-radius: 100%;
}

.social-media-icon {
  color: white;
}

article, aside, details,
figcaption, figure,
footer, header, hgroup,
main, nav, section,
summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
html {
   font-family: sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
.post {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-wrap: break-word;
}

html{
  box-sizing:border-box;
}
*, *:before, *:after{
  box-sizing:inherit;
}
html, body{
    height: 100%;
    margin: 0;
}
body{
    padding-top:50px;
}
body.users-login, body.verify, body.users-signup {
    background: #fff;
}
.main-container {
  width: 960px;
}
.intro-text{
    font-size: 2.2em;
    font-weight: 400;
}

.intro-img {
    width: 100%;
    position: absolute;
    left: 0;
    img {
        width: 100%;
    }
}
.outer-wrap{
    min-height: 100%;
    position:relative;
    padding-bottom:60px;
    position: relative;
}
.min-full-height {
    min-height: 100%;
    position: relative;
}
.full-height {
    height: 100%;
    position: relative;
}
.stick-to-bottom {
    bottom: 0;
    width: 100%;
    margin-bottom: 60px;
    h3 {
        margin: 1em 0 1em 0;
    }
}
.padding-left-right {
    padding: 0 0.75rem;
}

//use for name then position e.g. Fiona CEO
.no-margin-bottom{
    margin-bottom:0;
    line-height:1;
}
.no-margin-top {
    margin-top: 0;
}
.no-margin {
    margin: 0 !important;
}
.z-depth-0{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.job-notice {
    border: 1px solid #FFC861;
    background: rgb(255, 244, 225);
    padding: 0.5em;
    border-radius: 2px;
    span {
        color: $primary-text;
    }
}
.job ul li{
    list-style-type: circle;
}
.job{
  margin-bottom:2em;
  h4{
    margin-top:1.8em;
    margin-bottom:0;
    line-height:1;
  }
  p, li{
    font-weight:300;
  }
}
//job page
#joblist{
    margin-top: 3em;
    h5 {
        margin-bottom: 0;
    }

    .collapsible-header{
      padding-left:1.2em;
      padding-right:1.2em;
      height: auto;
    }
    .collapsible-body {
        padding: 0.8em 1.5em 1em 1.5em;
        .divider {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            }
        p {
            padding:0.5em 0 0.5em 0;
            line-height: 1.5;
            font-weight:300;
        }
        h4 {
            margin-top: 0.7em;
            margin-bottom: 0.7em;
        }
        ul{
          li{
            list-style-type:circle;
            font-weight:300;
          }
          margin-left:1em;
        }
        h6{
          margin-top:1.8em;
          margin-bottom:0.5em;
          text-transform:uppercase;
        }
    }

}
.fixed-height-tile{
    height: 9em;
}
.unhilight-link{
    color: $primary-text; //Dark grey for normal text
}
.list-inline{
    list-style-type: none;
    margin-bottom:0.3em;
    li {
        display: inline !important;
        padding-left: 0.4em;
        padding-right: 0.4em;
    }
}
hr{
    background-color:$sub-text;
    @include border-radius(200px);
    border: 0px solid #000000;
    height:0.3em;
    width:10em;
    margin-top:0;
}
footer{
    padding-bottom:1em;
    margin-top:3em;
}
footer.platform{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    ul{
        margin-bottom:0;
        padding-bottom:0.4em;
        padding-top:0.4em;
        li{
            padding-left:1em;
            padding-right:1em;
            font-family:$head-font-stack;
            a:hover{
              color:white !important;
            }
            a{
              cursor:pointer;
            }
        }
    }
}
.full-width{
  width:100%;
}

//PLATFORM
.platform .divider {
    margin: 1em 0 1em 0;
}
.btn-upvote{
  color:$sub-text !important;
  background-color:white;
  font-size:0.8em;
  text-align:left;
  padding:0.4em 0.7em 0.4em 0.7em;
  margin:0;
  @include border-radius(2px);
  border:1px solid $border-grey;
  span{
    border-left:1px solid $border-grey;
    margin-left:0.7em;
    padding-left:0.7em;
  }
}
//Sign up page

.privacy-msg {
    font-size: 0.8em;
    li {
        list-style: circle;
        text-align: left;
    }
}
.or-div{
    height: 1px;
    background-color: $unfocus-grey;
    text-align: center;
    margin-bottom:3em;
    span{
        background-color: white;
        position: relative;
        top: -0.7em;
        padding-left:5px;
        padding-right:5px;
        color:$unfocus-grey;
    }
}
// .in-page-search {
//     margin: auto;
//     width: 75%;
// }
// .platform-info {
//     position: absolute;
//     width: 100%;
//     text-align: left;
//     left: 10px;
//     bottom: 5px;
//     font-size: 0.7em;
//     font-weight: 300;
//     font-style: italic;
// }
// #activity .collection .collection-item.avatar {
//     padding-left: 85px;
// }
// h1.avatar {
//     font-size: 6em;
// }
// .card a:hover {
//     color: $primary-text;
// }
// .card {
//     padding: 1em;
// }
// // PLATFORM - HOME PAGE
// .home-jumbo {
//     padding: 1em 0 2em 0;
//     margin-top: -20px;
// }
// .stats {
//     font-size: 2em;
//     padding: 0 0.5em 0 0.5em;
//     display: inline-block;
//     color: $dark-blue;
//     margin: 1em 0 0 0;
//     .numb {
//         font-weight: bold;
//         margin-right: 0.3em;
//     }
//     .stats-text {
//         font-weight: 200;
//     }
// }
// .welcome-msg {
//     text-align: center;
//     border: 1px solid $border-grey;
//     padding: 0.3em;
// }
// // PLATFORM - RESULTS GRID VIEW
//
// .no-results {
//     margin: 1em 0 1em 0;
//     h3 {
//         line-height: 1.5;
//     }
//
// }
// .relative{
//     position:relative;
// }
// .right-of-container{
//     width:21.42%;
//     position: absolute;
//     left: 100%;
// }
// .left-of-container{
//     width:21.42%;
//     position: absolute;
//     right: 100%;
// }
// #filters{
//     background-color:#fff;
//     line-height:3em;
//     font-size:0.85em;
//     color:#666666;
//     span{
//         line-height:2em;
//         padding-left:1em;
//         padding-right:1em;
//         cursor:pointer;
//         border-left:2px solid #e0e0e0;
//     }
//     span.first{
//         border-left:none;
//         padding-left:2em;
//     }
//     span.remove{
//         border-left:none;
//         padding-left:0.5em;
//         width:1em;
//         height:1em;
//         color: #e0e0e0;
//         /*background-color:#fff;*/
//         text-align:center;
//     }
// }
// .highlight{
//   background-color: #fffde7;
//   font-style: normal;
// }
// #aggregation{
//     font-size: 0.85em;
//     color: $sub-text;
//     .label{
//         @include border-radius(2px);
//         display:inline-block;
//         width: 1em;
//         height: 0.8em;
//     }
//     h5{
//         color:#494949;
//     }
// }
// // PLATFORM - PROFILE PAGE
// #profile {
//     p {
//         margin: 0;
//     }
//     .card .divider {
//         margin-bottom: 1.5em;
//     }
//     .stretch {
//       width: 100%;
//       display: inline-block;
//       font-size: 0;
//       line-height: 0;
//     }
//     .activity-stats, .activity-contacts {
//         text-align: justify;
//         margin-top: 2em;
//         div {
//             display: inline-block;
//             vertical-align: top;
//         }
//     .numb {
//         display: inline-block;
//         font-size: 1.5em;
//         font-weight: bold;
//         color: $primary-text;
//     }
//     h5 {
//         display: inline-block;
//         font-weight: 300;
//         font-size: 1.5em;
//         }
//     }
//     .contact-item {
//         border: 1px solid $border-grey;
//         padding: 0;
//         margin: 10px;
//         img.col.m6{
//             border-right: 1px solid $border-grey;
//         }
//     }
//     .contact-info {
//         width:50%;
//         float: right;
//         .name,.occupation {
//             display: block;
//             width: 100%;
//         }
//         .name {
//             color: $primary-teal;
//             border-bottom: 1px solid $border-grey;
//         }
//         .occupation {
//             font-style: italic;
//             font-size: 0.8em;
//         }
//         i.circle {
//             padding: 5px;
//             color: $yellow;
//         }
//     }
// }
//
// .platform .btn{
//   text-transform: capitalize;
// }
// // /*--Settings - Edit Profile page--*/
//
// .settings .row {
//     padding-top: 10px;
//     margin-left: auto;
//     margin-right: auto;
//     .col {
//         padding: 0 0 0 0.75rem;
//     }
// }
// #editProfile .profile-img{
//     height: 8em;
//     img {
//         vertical-align: bottom;
//     }
// }
//
// /*--Settings - Trust Profile page--*/
// .trustPage .row {
//     margin-left: auto;
//     margin-right: auto;
// }
//
// /*-- EMBER FLASH MESSAGES --*/
// .flash_queue {
//   display:inline-block;
//   dl.flash_message-Success{
//     background-color:#a5d6a7;
//     color:#2e7d32;
//     margin-left:3em;
//     padding:1em 1em 1em 1em;
//     @include border-radius(2px);
//     border:1px solid #43a047;
//     dt{
//       display:none;
//     }
//     dd{
//       margin:0;
//     }
//   }
//   dl.flash_message-Fail{
//     background-color:#ef9a9a;
//     color:#b71c1c;
//     margin-left:3em;
//     padding:1em 1em 1em 1em;
//     @include border-radius(2px);
//     border:1px solid #d32f2f;
//     dt{
//       display:none;
//     }
//     dd{
//       margin:0;
//     }
//   }
// }
//
// //for temporary landing page
// .logo-large{
//   width:100%;
// }
// .landing-wrapper{
//   margin-top:14%; //lol
//   p{
//     margin-top:0;
//   }
//   div:first-of-type{
//     margin-bottom: 3px; //to move paragraph closer to logo
//   }
// }
// .btn-secondary{
//   background-color: white;
//   color:$unfocus-grey;
//   &:hover{
//     background-color: white;
//   }
// }
// // end of temp landing page
//
/* responsive layout */

@media only screen and (min-width: 993px) and (max-width: 1024px) {
    .container {
        width: 80%;
    }
}
@media only screen and (max-width: 960px) {
    .main-container {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .col.s12 {
        margin-top: 1rem;
    }
}
